@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    width: 97vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'OpenSans', sans-serif;
}

.container {
    width: 450px;
    height: 450px;
    border-radius: 2px;
    background-color: #3F3F3F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 320px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.4);
    animation: show-modal 0.4s ease-out;
}

img {
    transform: translate(0, -18px);
}

span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    transform: translate(0, 5px);
    color: rgb(63, 61, 61);
}

p {
    font-size: 17px;
    font-weight: 300;
    line-height: 19px;
    margin: 0;
    transform: translate(0, 13px);
    color: #a39d9d;
}

button {
    width: 100%;
    height: 45px;
    border-radius: 0px;
    border: none;
    background-color: #F65656;
    color: #fff;
    font-size: 17px;
    transform: translate(0,50px);
}

button:hover {
    background-color: #EC3434;
    cursor: pointer;
}

@keyframes show-modal {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hide-modal {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.hidden {
    animation: hide-modal 0.4s ease-out forwards;
}
